#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Organized.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize 
                %p Lorem ipsum dolor amet pBR&B pop-up swag cronut meh.
                symmetrica Sustainable chia humblebrag disrupt portland, keytar kinfolk offal shoreditch trust fund. 
                Hell of keytar PBR&B l, fingerstache vaporware trust fund dreamcatcher.
                Letterpress vape yuccie unicorn shabby chic tumeric. 
                PBR&B actually truffaut kitsch, authentic direct trade twee bushwick swag cray dreamcatcher freegan mlkshk mustache keytar.

                
                        
                        
#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path 